@model ASP_EF_App1.Models.Project

<table>
  <tr>
    <td>ProjectId</td>
    <td><b>@Model.ProjectId</b></td>
  </tr>

  <tr>
    <td>ProjectName</td>
    <td><b>@Model.ProjectName</b></td>
  </tr>

  <tr>
    <td>Platform</td>
    <td><b>@Model.Platform</b></td>
  </tr>

  <tr>
    <td>Client</td>
    <td><b>@Model.Client</b></td>
  </tr>

  <tr>
    <td>Duration</td>
    <td><b>@Model.Duration</b></td>
  </tr>
</table>